@font-face {
  font-family: "iconfont"; /* Project id 3148280 */
  src: url('iconfont.woff2?t=1642486201343') format('woff2'),
       url('iconfont.woff?t=1642486201343') format('woff'),
       url('iconfont.ttf?t=1642486201343') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yx-ss:before {
  content: "\e612";
}

.icon-yx-jia:before {
  content: "\e609";
}

.icon-yx-fanhui:before {
  content: "\e60a";
}

.icon-yx-jian:before {
  content: "\e60b";
}

.icon-yx-tijiao:before {
  content: "\e60c";
}

.icon-yx-sousuo:before {
  content: "\e60d";
}

.icon-yx-shuaxin:before {
  content: "\e60e";
}

.icon-yx-xiala:before {
  content: "\e60f";
}

.icon-yx-chongzhi:before {
  content: "\e610";
}

