// 主页
.app-container {
  width: 100%;
  height: calc(100vh - 92px);
  padding: 0 20px 20px;

  .app-container-in {
    height: calc(100vh - 110px);
    background-color: #ffffff;
    border-radius: 4px;
    overflow: hidden;
  }
}

.app-container-dialog {
  padding: 0;
}

// 弹出主页
.app-dialogContainer {
  margin-bottom: 20px;
  width: 100%;
  // height: calc(100vh - 250px);
  border: 1px solid #ebeef5;

  .app-dialogContainer-in {
    width: 100%;

    .app-dialogContainer-tree {
      border-right: 1px solid #ebeef5;
    }
  }
}

//新标签主页
.app-newContainer {
  width: 100%;
  height: 100vh;
  padding: 0;

  .app-newContainer-header {
    position: relative;
    height: 50px !important;
    line-height: 50px;
    padding: 0 52px;
    background: #fff;
    background-image: linear-gradient(202deg, #2891d3 0%, #289dd3 46%, #28a9d3 100%), linear-gradient(#1582f2, #1582f2);
    background-blend-mode: normal, normal;
    // -webkit-box-shadow: 2px 0 6px rgba(48, 65, 86, 0.28);
    // box-shadow: 2px 0 6px rgba(48, 65, 86, 0.28);
    overflow: hidden;

    .title {
      color: #ffffff;
      font-size: 18px;
    }
  }

  .app-newContainer-content {
    background-color: #ffffff;

    .content-in {
      height: calc(100vh - 90px);
      background-color: #ffffff;
      border-radius: 4px;
      overflow: hidden;

      .content-in-filterHeader {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 60px;
        text-align: left;
        font-size: 12px;

        .el-row {
          width: 100%;

          .el-form {
            width: 100%;

            .el-form-item {
              margin: 0;
              // padding-right: 10px;

              .el-form-item__label {
                width: auto !important;
              }
            }
          }
        }
      }
    }

    .app-table-search-operation .el-table {
      height: calc(100vh - 240px) !important;
    }

    .app-table-search .el-table {
      height: calc(100vh - 190px) !important;
    }
  }
}

.app-children-container {
  width: 100%;
  height: calc(100vh - 160px);
}

.app-header {
  text-align: left;
  font-size: 12px;
}

.app-tree-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 240px;
  padding: 10px;
  border-right: 1px solid #ebeef5;
}

.app-tree-input {
  width: 100%;
}

.app-tree {
  width: auto;
  height: 100%;
  padding: 10px 0;
}

.app-content-filterHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 60px;
  text-align: left;
  font-size: 12px;

  .el-row {
    width: 100%;

    .el-form {
      width: 100%;

      .el-form-item {
        margin: 0;
        // padding-right: 10px;

        .el-form-item__label {
          width: auto !important;
        }
      }
    }
  }
}

.filterHeader-item {
  width: 200px;
}

.filterHeader-btn {
  margin-left: 10px;
}

.app-content-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 60px;
  text-align: left;
  font-size: 12px;
}

.app-content-table {
  position: relative;
  width: 100%;
  padding: 0;
}

//主页仅表格
.app-onlyTable {
  .el-table {
    height: calc(100vh - 155px) !important;
  }
}

//主页仅表格，不分页
.app-table-noPage {
  .el-table {
    height: calc(100vh - 170px) !important;
  }
}

//主页带搜索框
.app-table-search {
  .el-table {
    height: calc(100vh - 215px) !important;
  }
}

//主页带操作框
.app-table-operation {
  .el-table {
    height: calc(100vh - 202px) !important;
  }
}

//主页带搜索框和操作框
.app-table-search-operation {
  .el-table {
    height: calc(100vh - 265px) !important;
  }
}

.app-content-main {
  position: relative;
  width: 100%;
  padding: 0;
}

.app-content-header .el-button:not(:first-child) {
  margin-left: 20px;
}

.app-footer {
  margin-top: 10px;
  text-align: right;
}

#changeContab {
  .language {
    display: none;
  }

  .el-tabs {
    box-shadow: none;
  }

  .tabBody {
    .el-row {
      margin: 10px 0;

      .long {
        .el-select {
          width: 350px;
        }
      }

      .el-input-number {
        width: 110px;
      }
    }
  }

  .bottom {

    position: relative;
    width: 100%;
    margin-top: 18px !important;
    margin-bottom: 20px;

    .value {
      display: none;
      float: left;
      margin-top: 10px;
      font-size: 18px;
      vertical-align: middle;
    }
  }
}

.dialog-footer {
  text-align: center;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: none;
}

.form-unit {
  font-size: 13px;
  color: #c0c4cc;
}

.margin-top-20 {
  margin-top: 20px !important;
}

.margin-bottom-20 {
  margin-bottom: 20px !important;
}

.margin-top-10 {
  margin-top: 10px !important;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.padding-0 {
  padding: 0 !important;
}

.margin-0 {
  margin: 0 !important;
}

.padding-10 {
  padding: 10px !important;
}

.margin-10 {
  margin: 10px !important;
}

.padding-20 {
  padding: 20px !important;
}

.margin-20 {
  margin: 20px !important;
}

.app-dialog {
  min-height: 400px;
  max-height: calc(100% - 30px);
}

.vue-contextmenu-listWrapper {
  padding: 5px 0;
  background-color: #fff;

  .context-menu-list {
    padding: 0 15px;
    height: 30px;

    &:hover {
      background: #ecf5ff !important;
      opacity: 1;

      .btn-wrapper-simple {
        i {
          color: #409eff;
        }

        .nav-name-right {
          color: #409eff;
        }
      }
    }

    .btn-wrapper-simple {
      padding: 0 10px;
      height: 30px;
      line-height: 30px;

      i {
        margin-top: 8px;
        margin-right: 8px;
        color: #606266;
      }

      .nav-name-right {
        height: 30px;
        line-height: 30px;
        font-size: 13px;
        color: #606266;
      }
    }
  }
}

.lapp-container {
  width: 100%;
  height: calc(100vh - 60px);
  padding: 0;
  background-color: #F9F9F9;
  overflow-x: hidden;
  overflow-y: auto;

  &>div {
    width: 100%;
    height: 100%;
  }

  .lapp-container-in {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #F9F9F9;
  }
}

.app-classification-add {
  float: left;
  position: relative;
  width: 270px;
  height: 160px;
  margin-right: 20px;
  margin-bottom: 20px;
  background: #ffffff;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 2px 5px 0px rgba(74, 80, 88, 0.15);
  }


  .app-classification-add-icon {
    position: absolute;
    left: 30px;
    top: 58px;
    width: 44px;
    height: 44px;
    color: #ffffff;
    background: #f5f7fa;
    border-radius: 4px;

    .error-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      font-size: 24px;
      background: #f5f7fa;
      color: #909399;
    }
  }

  .app-classification-add-title {
    position: absolute;
    left: 94px;
    top: 73px;
    width: 170px;
    line-height: 1;
    font-size: 16px;
    color: #333333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
