.taskCenter-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 0;
    flex: 80;
    background: #409cff;

    .left {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;

      .app-icon {
        margin-left: 20px;
        font-size: 28px;
        width: 32px;
        height: 32px;
        color: #fff;
      }

      .app-title {
        margin: 0 60px 0 10px;
        line-height: 32px;
        font-size: 18px;
        color: #fff;
      }

      .el-button:nth-child(2) {
        margin: 0 192px 0 30px;
      }
    }

    .right {
      margin-right: 118px;

      .el-button+.el-button {
        margin-left: 60px;
      }
    }
  }

  .bot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 0;
    flex: 940;
    padding: 20px;
    background: #f9f9f9;

    .bot-header {
      position: relative;
      width: 100%;
      padding: 40px 130px;
      background: #fff;
      border-radius: 4px;

      .header-img {
        float: left;
        width: 60px;
        height: 60px;
      }

      .header-content {
        float: left;
        margin-left: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        height: 60px;

        .header-content-title {
          font-size: 16px;
          font-weight: 600;
          color: #6672fc;
          line-height: 1;
        }

        .header-content-info {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;

          .info-item {
            margin-right: 60px;

            label {
              font-size: 12px;
              font-weight: 400;
              color: #999999;
              line-height: 1;
            }

            span {
              font-size: 12px;
              font-weight: 400;
              color: #999999;
              line-height: 1;
            }
          }
        }
      }
    }

    .bot-center {
      position: relative;
      margin-top: 10px;
      width: 100%;
      // width: 1200px;

      overflow-y: auto;

      .bot-center-row {
        margin-top: 10px;
        width: 100%;
        padding: 30px 60px;
        background-color: #fff;
        border-radius: 4px;

        .row-in {
          width: 100%;
          padding: 0 200px;

          .editBtn {
            margin-top: 20px;
          }
        }

        &:first-child {
          margin-top: 0;
        }

        .row-header {
          padding: 0 130px 30px;
          font-size: 16px;
          font-weight: bold;
          color: #6672fc;
          line-height: 1;
          border-bottom: 1px solid #eee;
        }

        .row-flow {
          margin-top: 30px;
          width: 100%;

          .el-timeline {
            padding: 0;
          }
        }

        .row-item {
          margin-top: 30px;
          width: 100%;
          font-size: 12px;
          line-height: 1;

          &:first-child {
            margin-top: 0;
          }

          .row-item-label {
            font-weight: bold;
            color: #666666;
          }

          .row-item-content {
            margin-top: 20px;
            color: #f7b749;
            line-height: 1.5;
          }

          .row-item-imageContent {
            margin-top: 20px;
            overflow: hidden;

            .row-item-imageItem {
              float: left;
              text-align: center;
              margin-left: 10px;

              .row-item-image {
                display: flex;
                margin: 0 auto;
                width: 64px;
                height: 64px;
                justify-content: center;
                align-items: center;
                background: #f5f7fa;
                color: #909399;
                font-size: 14px;
              }

              .row-item-imageName {
                margin-top: 5px;
                color: #f7b749;
                font-size: 12px;
                line-height: 1.5;
              }
            }
          }
        }

        .row-content {
          margin-top: 20px;
          display: flex;
          flex-direction: column;
          width: 100%;

          .row-content-in {
            margin-top: 20px;
            width: 50%;

            .publicComment {
              margin-top: 20px;
              width: 100%;
              text-align: right;
            }

            .public-commentList {
              margin-top: 20px;
              width: 100%;

              .comment-item {
                margin-bottom: 20px;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-start;
                width: 100%;
                padding: 10px 0;
                border-bottom: 1px solid #eee;

                &:last-child {
                  border: none;
                }

                .comment-item-content {
                  flex: 1;
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  justify-content: flex-start;
                  padding-left: 20px;

                  .name-time {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;
                    justify-content: flex-start;
                    width: 100%;
                    overflow: hidden;

                    .name {
                      float: left;
                      font-size: 14px;
                      color: #333;
                    }

                    .time {
                      margin-left: 10px;
                      float: left;
                      font-size: 12px;
                      color: #999;
                    }
                  }

                  .content {
                    margin-top: 15px;
                    width: 100%;
                    font-size: 14px;
                    color: #333;
                    line-height: 1.5;
                    text-align: left;
                  }
                }
              }
            }

            .record-item {
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: flex-start;
              width: 100%;
              padding: 15px 0;
              border-bottom: 1px solid #eee;

              &:last-child {
                border: none;
              }

              .record-item-date {
                width: auto;
                padding: 5px 10px;
                background: #409eff;
                font-size: 12px;
                color: #fff;
                border-radius: 2px;
              }

              .record-item-content {
                position: relative;
                flex: 1;
                padding-left: 60px;

                .sign {
                  position: absolute;
                  top: 0;
                  left: 30px;
                  width: 10px;
                  height: 10px;
                  background-color: #409eff;
                  border-radius: 50%;
                }

                .record-item-time {
                  margin-bottom: 15px;
                  font-size: 12px;
                  font-weight: normal;
                  color: #666666;
                  line-height: 1;
                }

                .record-item-info {
                  font-size: 12px;
                  font-weight: normal;
                  color: #666;
                  line-height: 1.5;

                  span {
                    margin-right: 10px;
                    color: #333;
                  }
                }
              }
            }
          }
        }
      }
    }

    .bot-btnGroup {
      position: absolute;
      bottom: 0;
      padding: 20px 0;
      width: 100%;
      text-align: center;
      background-color: #fff;
      border-top: 1px solid #eee;
    }
  }

  .bot-btns {
    padding: 20px 20px 83px;
  }
}

::v-deep .img-slot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #f5f7fa;
  border-radius: 4px;
}

.color-red {
  color: #ff0000 !important;
}

.color-blue {
  color: #6672fc !important;
}
